.button {
  display: block;
  padding: 10px;

  border: 2px solid #cccccc;
  background-color: #eeeeee;
}

.button:hover,
.button:focus {
  background-color: #cccccc;

  cursor: pointer;
}

.button--active {
  border: 2px solid greenyellow;
  background-color: greenyellow;
}
