.form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  display: block;
  max-width: 300px;
  width: 100%;
  padding: 10px;

  border: 2px solid #cccccc;
}

.button-group {
  display: flex;
  margin-top: 20px;
}

.button-group .button {
  margin-right: 10px;
}
