@import "../../styles/variables.less";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;

  background-color: @violet;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.theme {
  max-width: 250px;
  margin-top: 10px;

  @media (min-width: 768px) {
    margin: 0 10px 0 auto;
  }
}

.user {
  max-width: 250px;
  margin: 10px 0 0 0;

  @media (min-width: 768px) {
    margin: 0;
  }

  span {
    display: block;

    color: @yellow-light;
    text-align: center;
  }
}
